
$boxColor: rgba(230, 230, 230, 0.5);
$secondaryBGMixer: rgba(156, 169, 182, 0.5);

.movieviewInfo > .movieviewHeader.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid seagreen;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}

div.movieviewInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
  line-height: 1.2em;
  border: 1px solid darkolivegreen;
  border-radius: 15px;
  // background-color: $secondaryBGMixer;
  padding: 10px;
  height: fit-content;
  align-self: center;
}

.movieviewInfo-containers span:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
}

.movieviewImg {
  max-width: 40vw;
  max-height: 80vh;
}

div.movieviewImgContainer {
  display: flex;
  justify-content: center;
}

div.movieviewInfo-containers {
  margin: 5px 0;
}

// .movieviewInfo div:nth-child(odd) {
//   margin: 12px 0;
// }

div.movieViewContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.movieviewSimilar h2 {
  margin-top: 15px;
  &:first-of-type {
    border-top: 2px solid slategray;
    border-radius: 3px 3px 0 0;
    margin-top: 30px;
    padding-top: 10px;
  }
}

div.movieviewSimilar {
  width: 100%;
  padding: 0;
}

div.movieviewInfo h1 {
  // color: seagreen;
  font-weight: bold;
  text-shadow: .5px .5px .5px seagreen;
}

.movieviewHeader.col p {
  margin-bottom: 0;
}

.back-button {
  // margin: 10px;
  width: 150px;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: seagreen;
  font-weight: 900;
}

.trailer-button {
  margin: 10px ;
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 900;
}

.btnContainer {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}

.youtube-logo {
  color: red;
  margin-bottom: 3px;
}

.icon:hover {
  cursor: pointer !important;
}


//-----------------CAROUSEL -----------------

.slick-track {
  display: flex !important;
}

.slick-slide > div {
  height: 100%;
  width: 100%;
}

// .slick-list {
//   margin: 0 -50px;
// }

div.slick-slider {
  display: flex;
  flex-direction: column;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  margin: 0 3px;
  margin-bottom: 25px;
}

ul.slick-dots {
  margin-bottom: 25px;
  width: max-content;
  background-color: $secondaryBGMixer;
  border-radius: 0 0 10px 10px;
  align-self: center;
}

.slick-dots li.slick-active button:before {
  font-size: 14px !important;
  color: seagreen !important;
}

.slick-dots li button:before {
  // font-size: 14px !important;
  color: seagreen !important;
}

.slick-next:before, .slick-prev:before {
  font-size: 50px !important;
  color: seagreen !important;
  opacity: 1 !important;
  // font-family: 'Font Awesome 5 Free' !important;
  font-weight: bold !important;
}

button.slick-arrow.slick-next {
  background: black;
  width: 42px;
  height: 42px;
  border-radius: 36px;
  // margin: 0 50px;
  right: 25px;
  display: flex !important;
  justify-content: center;
  &:hover{
    background: $secondaryBGMixer;
  }
}

button.slick-arrow.slick-prev  {
  background: black;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  // margin: 0 50px;
  left: 25px;
  z-index: 10;
  display: flex !important;
  justify-content: center;
  &:hover{
    background: $secondaryBGMixer;
  }
}



@media (max-width: 1000px) {
  div.movieviewDetails {
    flex-direction: column;
  }
  div.movieviewInfo span:first-of-type {
    font-size: 1em;
  }
  div.movieviewDeets {
    font-size: .9em;
  }
  div.movieviewInfo.col {
    margin: 0;
    max-width: 90vw;
  }
  .movieviewInfo.col div:nth-child(odd) {
    margin: 0;
  }
  .movieviewImg {
    margin-bottom: 8px;
  }
}

@media all and (max-width: 768px) {
  .movieviewInfo, .movieviewInfo span:first-of-type {
    font-size: .85em;
  }
  .movieviewDeets {
    font-size: .7em;
  }
  .movieviewContainer h2 {
    font-size: 1.5em;
  }
  button.slick-arrow.slick-next, button.slick-arrow.slick-prev {
    height: 20px;
    width: 20px;
  }
  .slick-next:before, .slick-prev:before {
    font-size: 36px !important;
  }

}

@media all and (max-width: 550px) {
  .logo {
    max-width: 33vw;
    min-width: 100px;
  }
  .movieviewImg {
    max-width: 70vw;
  }
}

@import '~bootstrap/scss/bootstrap.scss';