$boxColor: rgba(230, 230, 230, 0.5);



.movieviewInfo {
  font-size: 1.35em;
  line-height: 1.2em;
}

.movieviewInfo div:nth-child(odd) {
  margin: 12px 0;
}
.movieviewInfo-containers span:first-of-type, .movieviewInfo strong {
  font-weight: bold;
  font-size: 1.2em;
}

.searchBar {
  display: inline-flex;
  margin-bottom: 20px;
  width: 200px;
  height: auto;
}


.movieCard:hover {
  animation: .5s cardPop;
}

@keyframes cardPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.99);
  }
  100% {
    transform: scale(1);
  }
}
  


@import '~bootstrap/scss/bootstrap.scss';