
$primaryBGMixer: rgba(143, 188, 143, 0.95);
$secondaryBGMixer: rgba(156, 169, 182, 0.95);

.navbar {
  background-color: honeydew;
  border-bottom: 2px solid $secondaryBGMixer;
  color: #556b2f;
  font-size: 1.25em;
  letter-spacing: .6px;
}

button {
  margin: 10px;
  padding: 5px 20px;
  border-radius: 15px;
  align-self: center;
  background-color: seagreen;
  font-weight: 900;
}

.navbar-brand{
  display: flex;
  flex-direction: column;
  line-height: .97em;
}


@import '~bootstrap/scss/bootstrap.scss';