
$primaryBGMixer: rgba(143, 188, 143, 0.95);
$secondaryBGMixer: rgba(156, 169, 182, 0.95);

nav.navbar {
  background-color: honeydew;
  border-bottom: 2px solid $secondaryBGMixer;
  // color: #556b2f;
  font-size: 1em;
  letter-spacing: .9px;
  padding: 0;
  font-weight: 800;
}

.navbar-nav {
  align-items: flex-end;
}

.burgerContainer {
  display: flex;
  flex-direction: column;
}

nav.navbar > .navbar-container {
  align-items: flex-start;
}

a.nav-link:hover {
  color: seagreen;
  // text-decoration: underline;
}
a.nav-link::before {
  content: "• ";
}
a.nav-link:hover::after {
  content: "}";
}
a.nav-link:hover::before {
  content: "{";
}

a.logo.navbar-brand{
  display: flex;
  flex-direction: column;
  line-height: .97em;
  padding: 0;
}


@import '~bootstrap/scss/bootstrap.scss';