// ! Test account info: username: countChocola password: loveyou<3000
// ! Logo font color: #626A5A
// TODO: User stories: 1. Make the back to mainview button more prominent (add escape button key?)
// TODO: 2. Add buttons to navigate to the next and previous movie?
// TODO: 3. Should I sort the movies? By highest rated? Just Alphabetical until user manually sorts by the metric they desire?
// TODO: 4. I should definitely add a sort function (By year, title, rating(if I add it), what else?) and a filter/search function 
// TODO: 5. Each movie page will have similar movies based on genre, director, actor(s), anything else?
// TODO: 6. Add a rating parameter to the movie info?
// TODO: 7. Add a sidebar to all pages that shows the user's top 10(?) movies (top 10 rated? I guess I could add another parameter to the favoriteMovies list (maybe have to make it an object? So each movie on favorite list has the movie id and/or title, and the user's rating (or a default of null)), or I can just make it so they can change the order of the movies in their favorite list and render the top 10 based on that order).
// TODO: 8. Could I add a recommended movies list based off of a user's favorite movies? Like, people who favorited X movie also favorited Y and Z. This seems pretty high level for me
// TODO: 9. A Navbar component using react-bootstrap
// TODO: 10. Add button to each movie's MovieView that links to the movie's preview on YouTube
// TODO: 11. Add alerts for when a movie is favorited or unfavorited, could use something called sweetalert2 (plugin? library?)

$color: black;
$bgColor: rgba(199, 247, 227, 0.6);
$boxColor: rgba(230, 230, 230, 0.5);
$primaryBGMixer: rgba(143, 188, 143, 0.4);
$secondaryBGMixer: rgba(119, 136, 153, 0.575);

/*-----------GENERAL-------------*/

#root {
  background: linear-gradient(to right, $primaryBGMixer, $secondaryBGMixer 20%, $secondaryBGMixer 80%, $primaryBGMixer);
  // background-color: $primaryBGMixer;
  // font-family: 'Mouse Memoirs', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}


.movieviewContent {
  display: flex;
  align-items: center;
  margin: 50px;
}

.movieViewRow h2 {
  margin: 0;
}

.movieCard:hover {
  background-color: rgba(184, 181, 181, 0.8);
}

/* ------------MEDIA QUERIES---------------*/


@import '~bootstrap/scss/bootstrap.scss';